    <%-include('header')-%>


    <body>
    <div class="login-dark">
        <form  action="/route/login" method="POST">
            <h2 class="sr-only">Login Form</h2>
            <p class="fw-bold text-center text-primary">  LOGIN FOR EXISTING USER</p>
            <% if(locals.logout){%>
                <div id="msg" class="alert alert-success text-center">
                    <%=logout%>
                </div>
            <%}%>
            <div class="illustration"><i class="icon ion-ios-locked-outline"></i></div>
            <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Email"></div>
            <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Password">
            </div>
            <% if(locals.errMsg){%>
                <div id="msg" class="alert alert-danger text-center">
                    <%=errMsg%>
                </div>
                <%}%>
            <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Log In</button></div><a
                href="#" class="forgot">Forgot your email or password?</a>
        </form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
    
    <script>
        setTimeout(()=>{
            document.getElementById('msg').style.display='none'
        },3000)
    </script>
    
    <%-include('footer')-%>
    